{% extends "base.html" %}
{% block content %}

<section class="wiki-page">
  <div class="main-content">
    <h1>Mãos Solidárias</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium similique aperiam sint eaque, ullam
      reiciendis illo corporis. Ipsum veniam quae dolorum, natus sit debitis excepturi tempora ratione possimus
      assumenda aliquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet asperiores deleniti delectus
      dolore quidem laudantium tempora at dolores, hic ipsam rerum animi sed tenetur quo iusto ex eum cum dicta? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Dolorem, molestiae optio vel voluptates est consequatur? Esse,
      distinctio maiores iste nesciunt recusandae debitis optio suscipit quis tempore quod nobis aliquid harum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam neque cupiditate veritatis suscipit ex
      reprehenderit ab at! Nihil possimus at atque illo modi similique temporibus laborum dolore, corrupti ipsum soluta?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dolores incidunt minima, debitis at explicabo
      odio fugiat velit nesciunt doloremque pariatur non recusandae veniam enim voluptas, est dolore aliquam
      repudiandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus adipisci officia molestiae
      rem et eum odio itaque sit iusto dolore ipsa sunt dignissimos, porro sequi, exercitationem eligendi minus
      praesentium iure!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repudiandae eaque ipsa necessitatibus, architecto
      suscipit in adipisci dolore fuga laboriosam quae asperiores pariatur sit esse modi beatae sunt expedita laborum.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo nostrum qui ullam praesentium eaque voluptas et
      sequi vel adipisci nisi. Libero optio ratione maxime, officia ipsam doloribus nam corporis rerum. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Molestias rem, doloribus harum quaerat enim dolorum nesciunt amet
      consectetur? Similique dicta neque excepturi quae a blanditiis dignissimos doloribus vero ex optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque rem mollitia excepturi sapiente inventore
      facilis exercitationem, quia numquam quis reprehenderit distinctio ea odio? Iusto nemo expedita minima, molestiae
      reprehenderit hic. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita eos perspiciatis eius qui
      aliquam illo, voluptate temporibus odit dolorem possimus quaerat! Aperiam voluptatibus minus facere animi, alias
      iusto dolores esse.</p>
  </div>
  <div class="ship-infobox">
    <div class="ship-title">Suffren</div>
    <div class="ship-image-container">
      <img src="../static/img/foto1.png" alt="Battleship Suffren">
    </div>
    <div class="ship-details">
      <div class="ship-row">
        <span class="ship-label">Local:</span>
        <span class="ship-value">R. Votuporanga</span>
      </div>
      <div class="ship-row">
        <span class="ship-label">Objetivo:</span>

        <p style="text-align: justify;">
          O objetivo principal da doação de roupas é ajudar pessoas em situação de vulnerabilidade social,
          oferecendo-lhes acesso a vestimentas que podem ser essenciais para sua dignidade e bem-estar, especialmente
          durante o frio..
        </p>
      </div>
      <div class="ship-row">
        <span class="ship-label">Faça sua Doaçaõ:</span>
        <span class="ship-value"><a href="#">link</a></span>
      </div>
      <div class="ship-row">
        <span class="ship-label">Organizador:</span>
        <span class="ship-value">Mãos Solidárias</span>
      </div>
      <div class="ship-row">

        <div class="ship-row">
          <span class="ship-label">Data:</span>
          <p style="text-align: justify;">7 de Novembro, 2025 a 21 de Novembro, 2025</p>
        </div>

      </div>
    </div>

</section>

{% endblock %}