{% extends "base.html" %}
{% block content %}

<section class="noticias-1">
    <div class="center">
        <div class="noticias-wraper-1">
            <div class="noticia-destaque">
                <div class="noticia-destaque-single" id="destaque">
                    <h3>Carregando notícia em destaque...</h3>
                </div>
            </div>
            <div class="outras-noticias-1" id="outras-noticias">
                <!-- 4 notícias secundárias aparecerão aqui -->
            </div>
        </div>
    </div>
</section>
<script src="../static/script.js"></script>

{% endblock %}